<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
  </head>
  <body>
    <p>Hello {{ tutor_name }},</p>
    <p>I hope everything is well, and that you and your family are staying safe.</p>
    <p>As our organization matures and we scale our services, we are adding additional features that will help us better assess our program, more quickly deliver services, and ensure we align with requirements needed to run a standalone non-profit at a city-wide scale.</p>
    <p><i>The most important change, and one required by our insurance carrier, is the implementation of a background check on all volunteers.</i></p>
    <p>If you plan to be a volunteer for the upcoming semester, we will have BackgroundInfoUSA send you an email that will provide instructions on how to fill out the background check through their secure website.</p>
    <p>You will need to provide your social security number as part of submitting the form on their website. <strong>Do not send us your social security number.</strong> Do not type your social security number anywhere outside of their website's form.</p>
    <p><strong>There is also a $10 fee to execute this background check. We can reimburse you for this fee if you are a student, you volunteer with us for at least two months, and you inform us that you require a reimbursement in two months time.</strong></p>
    <p>We will have BackgroundInfoUSA send you an email that will provide instructions on how to fill out the background check. First, we’ll include a <a href="https://docs.google.com/document/d/1_6Hp8HOtQCSqkT8VBnxMP9jOkIZ6UnFGSEKHG0z9p7s/edit?usp=sharing">link for the background check consent form</a> so that we can officially start the process. Once we have the consent form, I’ll explain the next steps. We need to have the background check completed before we start tutoring again.</p>
    <p>If you have any questions, please let us know,</p>
    <br>
    <p>Sincerely,</p>
    <p>The City Tutors</p>
    <div><img tabindex="0" src="https://ci6.googleusercontent.com/proxy/--F6wJFXexyuCZRI4FouvO7Blou3P9EprTDg9N4oiqAkfGxH30wCHeB1GYJ7b4FIjUmRqgtL7WG4-rEyJTC2k3pTqhr7maWTf8xinIJQ05PMfP5DRH5zvpaRExBTna2KjaSm=s0-d-e1-ft#https://drive.google.com/uc?id=18XX4t6nnc-gqtKBPxsn-bmLN555fwqST&amp;export=download" width="200" height="112" /></div>
    <div><a href="https://www.thecitytutors.org/" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=https://www.thecitytutors.org/&amp;source=gmail&amp;ust=1616623162386000&amp;usg=AFQjCNEcxUejYW-vSVr5hsDySYoxuu_y9w">Our Website</a>&nbsp;|&nbsp;<a href="https://www.facebook.com/TheCityTutors/" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/TheCityTutors/&amp;source=gmail&amp;ust=1616623162386000&amp;usg=AFQjCNGyf-94OqIGV1TIPgqMcsQeVnXBeA">Facebook Page</a>&nbsp;|&nbsp;<a href="https://www.linkedin.com/company/the-city-tutors/" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/company/the-city-tutors/&amp;source=gmail&amp;ust=1616623162386000&amp;usg=AFQjCNE9sPiaP-77-IK6LSix1ZUCPuICXw" aria-invalid="true">LinkedIn</a></div>
    </div>
  </body>
</html>
