<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
  </head>
  <body>
    <p>Hi,</p>
    <p>I hope everything is well, and that you are staying safe!</p>
    <p>We've updated the tutor portal for the spring 2022 semester. To start using our new system, you'll need to make an account. It will only take 5 minutes.</p>
    <p>https://app.thecitytutors.org/tutor-registration</p>
    <p>You'll be asked to provide basic contact information and tutoring preferences. 
    When you get to the training session section, input the code <strong>D9Qp1A44</strong> to skip having to do the training series. I will make sure that you are approved to receive students right away.</p>
    <p>Once you have been approved, feel free to edit your time availability for working with students in the spring semester. I will be hosting a town hall today, February 11th, at 7 PM if you need to meet with me to go over the system. We'll include the Zoom event information for that meeting below:</p>
    <p>https://ccny.zoom.us/j/86549723150</p>
    <p>Thank you, again, for being part of The City Tutors while we work to expand support to student populations that need it!</p>
    <p>Sincerely,</p>
    <p>Michael</p>
    <p>The City Tutors</p>
    <div><img tabindex="0" src="https://ci6.googleusercontent.com/proxy/--F6wJFXexyuCZRI4FouvO7Blou3P9EprTDg9N4oiqAkfGxH30wCHeB1GYJ7b4FIjUmRqgtL7WG4-rEyJTC2k3pTqhr7maWTf8xinIJQ05PMfP5DRH5zvpaRExBTna2KjaSm=s0-d-e1-ft#https://drive.google.com/uc?id=18XX4t6nnc-gqtKBPxsn-bmLN555fwqST&amp;export=download" width="200" height="112" /></div>
    <div><a href="https://www.thecitytutors.org/" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=https://www.thecitytutors.org/&amp;source=gmail&amp;ust=1616623162386000&amp;usg=AFQjCNEcxUejYW-vSVr5hsDySYoxuu_y9w">Our Website</a>&nbsp;|&nbsp;<a href="https://www.facebook.com/TheCityTutors/" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/TheCityTutors/&amp;source=gmail&amp;ust=1616623162386000&amp;usg=AFQjCNGyf-94OqIGV1TIPgqMcsQeVnXBeA">Facebook Page</a>&nbsp;|&nbsp;<a href="https://www.linkedin.com/company/the-city-tutors/" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/company/the-city-tutors/&amp;source=gmail&amp;ust=1616623162386000&amp;usg=AFQjCNE9sPiaP-77-IK6LSix1ZUCPuICXw" aria-invalid="true">LinkedIn</a></div>
    </div>
  </body>
</html>
