<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
  </head>
  <body>
    <p>Hello,</p>
    <p>We hope everything is well.</p>
    <p>We're emailing because we haven't seen activity from you on the Tutor Portal recently. Are you still working with students assigned from the portal? If you're encountering any problems, please let us know. Also let us know if you can't continue volunteering with us at the moment.</p>
    <p>The City Tutors</p>
    <div><img tabindex="0" src="https://ci6.googleusercontent.com/proxy/--F6wJFXexyuCZRI4FouvO7Blou3P9EprTDg9N4oiqAkfGxH30wCHeB1GYJ7b4FIjUmRqgtL7WG4-rEyJTC2k3pTqhr7maWTf8xinIJQ05PMfP5DRH5zvpaRExBTna2KjaSm=s0-d-e1-ft#https://drive.google.com/uc?id=18XX4t6nnc-gqtKBPxsn-bmLN555fwqST&amp;export=download" width="200" height="112" /></div>
    <div><a href="https://www.thecitytutors.org/" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=https://www.thecitytutors.org/&amp;source=gmail&amp;ust=1616623162386000&amp;usg=AFQjCNEcxUejYW-vSVr5hsDySYoxuu_y9w">Our Website</a>&nbsp;|&nbsp;<a href="https://www.facebook.com/TheCityTutors/" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/TheCityTutors/&amp;source=gmail&amp;ust=1616623162386000&amp;usg=AFQjCNGyf-94OqIGV1TIPgqMcsQeVnXBeA">Facebook Page</a>&nbsp;|&nbsp;<a href="https://www.linkedin.com/company/the-city-tutors/" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/company/the-city-tutors/&amp;source=gmail&amp;ust=1616623162386000&amp;usg=AFQjCNE9sPiaP-77-IK6LSix1ZUCPuICXw" aria-invalid="true">LinkedIn</a></div>
    </div>
  </body>
</html>
