{% extends "base/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<style>
	.customnextbutton{
	display: inline-block;
	outline: 0;
	border: none;
	box-shadow: none;
	cursor: pointer;
	padding: 9px 22px;
	font-size: 22px;
	height: 50px;
	font-weight: 400;
	color: #fff;
	text-align: center;
	line-height: normal;
	background: linear-gradient(90deg,purple 0,#CBC3E3 100%);
	border-radius: 50px;
	transition: color .2s ease,background-color .2s ease,box-shadow .2s ease;
	}
	.customnextbutton:not([disabled]):focus {
		box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
	}
	.customnextbutton:not([disabled]):hover {
		box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
	}

</style>

<a href="{% url 'tutor:orientation-content' %}">
  <button type="button" class="customnextbutton">back</button>
</a>

<br>
<br>

<h2>9. Online Tutoring Environment</h2>
<iframe width="700" height="345" src="https://www.youtube.com/embed/evaMwKqXehI"></iframe>
<br>
<br>

<hr size="5" width="100%" color="black">  

<p>
  <b>You may fill out the questions below after you have completed the training.</b>
</p>
<form method="POST">
	{% if not user.orientation7 %}
		{% csrf_token %}
		{% crispy form %}
		<input class="customnextbutton" type='submit' name='submit' value='Submit'>

	{% else %}
		{{ form.question1.label }}
		{% for choice in form.question1 %}
			{% if forloop.counter0 in answer1 %}
				<div class="select" style="color: green">{{ choice.tag }} {{ forloop.counter }}. {{ choice.choice_label }}</div>
			{% else %}
				<div class="select" style="color: red">{{ choice.tag }} {{ forloop.counter }}.  {{ choice.choice_label }}</div>
			{% endif %}
		{% endfor %}
		<br>
		<p>
			You chose:
			{% for answers in user.orientation7.question1 %}
				{% if answers == '0' %}
					{% if 0 in answer1 %}
						<b style="color: green">1</b>
					{% else %}
						<b style="color: red">1</b>
					{% endif %}
				{% endif %}

				{% if answers == '1' %}
					{% if 1 in answer1 %}
						<b style="color: green">2</b>
					{% else %}
						<b style="color: red">2</b>
					{% endif %}
				{% endif %}

				{% if answers == '2' %}
					{% if 2 in answer1 %}
						<b style="color: green">3</b>
					{% else %}
						<b style="color: red">3</b>
					{% endif %}
				{% endif %}

				{% if answers == '3' %}
					{% if 3 in answer1 %}
						<b style="color: green">4</b>
					{% else %}
						<b style="color: red">4</b>
					{% endif %}
				{% endif %}
			{% endfor %}
		</p>

		<p style="padding: 10px; border: 2px solid black;">Explanation:
			<br>
			For working with students online, its important to have three things: <br>
			1) A solid internet connection for a stable video conference, and the ability to screenshare material. <br>
			2) A quiet space to limit disruptions of the tutee's focus. <br>
			3) A working video camera so that the tutee can remain engaged with the tutor. <br>
			<br>
			Anything in addition to this is supplemental. While additional devices can assist a session, we do not expect a volunteer tutor to have to procure additional devices/services in order to be a volunteer with our program
		</p>

		<p></p>

    {{ form.question2.label }}
    {% for choice in form.question2 %}
      {% if forloop.counter0 in answer2 %}
        <div class="select" style="color: green">{{ choice.tag }} {{ forloop.counter }}. {{ choice.choice_label }}</div>
      {% else %}
        <div class="select" style="color: red">{{ choice.tag }} {{ forloop.counter }}.  {{ choice.choice_label }}</div>
      {% endif %}
    {% endfor %}

    <br>
    <p>
			You chose:
			{% for answers in user.orientation7.question2 %}
				{% if answers == '0' %}
					{% if 0 in answer2 %}
						<b style="color: green">1</b>
					{% else %}
						<b style="color: red">1</b>
					{% endif %}
				{% endif %}

				{% if answers == '1' %}
					{% if 1 in answer2 %}
						<b style="color: green">2</b>
					{% else %}
						<b style="color: red">2</b>
					{% endif %}
				{% endif %}
				{% if answers == '2' %}
					{% if 2 in answer2 %}
						<b style="color: green">3</b>
					{% else %}
						<b style="color: red">3</b>
					{% endif %}
				{% endif %}

				{% if answers == '3' %}
					{% if 3 in answer2 %}
						<b style="color: green">4</b>
					{% else %}
						<b style="color: red">4</b>
					{% endif %}
				{% endif %}
			{% endfor %}
  	</p>
  
		<p style="padding: 10px; border: 2px solid black;">Explanation:
			<br>
			1) Populations that the City Tutors supports often face socio-economic difficulties such has having a computer and internet connection for every member of the household. The City Tutors does not wish to penalize tutees that live under these conditions, and its important to have strategies to work around them. <br><br>
			2) If a student needs to join a session from their phone, use online collaborative tools such as: <br>
			Google Docs - <a href="https://docs.google.com/document/" target="_blank">https://docs.google.com/document/</a><br>
			Jamboard - <a href="https://jamboard.google.com/" target="_blank">https://jamboard.google.com/</a><br>
			Miro - <a href="https://miro.com/" target="_blank">https://miro.com/</a><br><br>
			3) Each of these programs are free, and can be shared with the student using a link (Miro only allows three free whiteboards. Use existing white boards for any new session). <br><br>
			4) If a student cannot write on these platforms, a tutor can upload a problem to these platforms and share their screen so that the student can see it. They can then use probing questions to gauge student understanding, and annotate what students say for their review outside of the session. <br>
		</p>

		<p></p>

	{% endif %}
	{% if user.orientation7 %}
	<a href="{% url 'tutor:orientation-8' %}">
    	<button style="display: right; float: right;" type="button" class="customnextbutton">Next Training >>></button>
  	</a>
	{% endif %}
</form>
<br>
<br>
<br>
<br>
{% endblock %}