{% extends "base/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Roleplay Training</h2>
{% if not request.user.roleplaytraining %}
<p>
This training questionnaire is meant to be completed after training
with an instructor.  Please create a Calendly appointment with an
instructor at one of the links below:
</p>
<ul>
    <li><a href="https://calendly.com/amnatahir1996/amna-s-training-sessions">Amna</a></li>
</ul>
<p>You may fill out the questions below after you have completed the training.</p>
<p>Role Playing Exercise: In your groups, select a tutor and tutee. The tutor will assist the tutee with a sample problem or project, while the tutee plays the role of a confused and/or struggling student.</p>
<form method='post'>
{% csrf_token %}
    {% crispy form %}
</form>
{% else %}
<p>Your response has been saved</p>
{% endif %}
{% endblock %}
